{% load static %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">
<meta
        name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
/>
<body class="bg-gray-200 flex flex-col items-center  h-screen m-0">
    <nav class="flex items-center bg-sogang_blue fixed top-0 left-0 z-50 w-full h-16 dark:border-gray-600 mb-16">
        <li class="mr-3 pl-4 pr-1 cursor-pointer list-none"  onClick="javascript:history.go(-1);">
            <i class="fa-solid fa-circle-arrow-left fa-xl text-white"></i>
        </li>
        <span class="text-white text-large justify-center absolute w-full mx-auto text-center">게시글 작성</span>
    </nav>
    <div class="flex w-11/12 xl:w-1/3 justify-center my-auto h-4/6">
        <form method="post" enctype="multipart/form-data" class="my-form">
          {% csrf_token %}
          <div class="flex flex-col justify-center items-center top-200">
              <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 gap-[127px]">
                <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 gap-3">
                  <div
                        class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2.5 px-[15px] py-2.5 rounded-[10px] bg-[#7585ff] border border-white"
                      >
                  {{ form.mod.errors }}
                  {{ form.mod }}
                  </div>
                    <div
                class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2.5 px-[15px] py-2.5 rounded-[10px] bg-[#7585ff] border border-white"
              >
                <p class="flex-grow-0 flex-shrink-0 text-base text-left text-white">{{ form.image }}</p>
              </div>


          <button type="submit" class="my-button"><div
              class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2.5 px-[15px] py-2.5 rounded-[10px] bg-[#7585ff] border border-white"
            >
              <p class="flex-grow-0 flex-shrink-0 text-base text-left text-white">작성</p>
            </div>
          </button>

                    <div
            class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2.5 p-2.5"
          >
            <div
              class="flex-grow-0 flex-shrink-0 w-[363px] h-[30px] rounded-[10px] bg-white border border-[#7575ff]"
            >{{ form.title.errors }}
          {{ form.title }}</div>
          </div>

            <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2.5 p-2.5">
            <div
              class="flex-grow-0 flex-shrink-0 w-[363px] h-[618px] bg-white border border-[#7575ff]"
            >{{ form.content.errors }}
          {{ form.content }}</div>
          </div>

          </div></div></div>
        </form>
    </div>
</body>

{% include "partials/tabbar.html" %}
{% block content %}{% endblock %}
