{% load static %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">
<meta
        name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
/>
<body class="bg-gray-200 flex flex-col items-center  h-screen m-0">
<nav class="flex items-center bg-sogang_blue fixed top-0 left-0 z-50 w-full h-16 dark:border-gray-600 mb-16">
    <li class="mr-3 pl-4 pr-1 cursor-pointer list-none z-50" onClick="javascript:history.go(-1);">
        <i class="fa-solid fa-circle-arrow-left fa-xl text-white"></i>
    </li>
    <span class="text-white text-large justify-center absolute w-full mx-auto text-center">게시글 작성</span>
</nav>

    <div class="w-full sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 pt-24">
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}

            <div class="w-full">
                <div class="text-red-500">{{ form.mod.errors }}</div>
                <div class="w-full p-2 border border-gray-300 rounded bg-sogang_light">{{ form.mod }}</div>
            </div>

            <div class="w-full p-2 border border-gray-300 rounded bg-sogang_light">
                <div class="text-white">{{ form.image }}</div>
            </div>


            <div class="w-full">
                <div class="text-red-500">{{ form.title.errors }}</div>
                <div class="w-full p-2 border border-gray-300 rounded">{{ form.title }}</div>
            </div>

            <div class="w-full">
                <div class="text-red-500">{{ form.content.errors }}</div>
                <div class="w-full p-2 border border-gray-300 rounded">{{ form.content }}</div>
            </div>
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                작성
            </button>
        </form>
    </div>

    {% include "partials/tabbar.html" %}
    {% block content %}{% endblock %}
</body>
