{% load static %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="post bg-white shadow p-4 rounded mb-6">
  <h2 class="text-2xl font-bold mb-2">{{ post.title }}</h2>
  <p class="text-gray-700">{% if post.mod == 2 %}익명{% else %}{{ post.author.nickname }}{% endif %} | 조회: {{ post.view_num }} | 추천: {{ post.upvote_num }} | {{ post.created_at }}</p>
    {% if post.image %}<img src="{{ POST_MEDIA_URL }}{{ post.image.url }}" alt="Image">{% endif %}
    <p class="text-gray-700">{{ post.content }}</p>
</div>

<a href="{% url 'upvote_post' post_id=post.id %}">추천 </a>{% if request.user == post.author %}<a href="{% url 'delete_post' post.id %}">&emsp;&emsp; 삭제</a>{% endif %}

<hr class="my-4">

<h3 class="text-xl font-bold mb-2">댓글</h3>

<div class="space-y-4">
{% for comment in comments %}
  <div class="comment bg-gray-100 p-4 rounded">
    <p class="text-gray-700">{{ comment.content }}</p>
    <p class="text-sm text-gray-500">{% if comment.post.mod == 2 %}익명{% else %}{{ comment.author.nickname }}{% endif %}</p>
    <p class="text-sm text-gray-500">{{ comment.created_at }}</p>
    <a href="{% url 'delete_comment' comment.id %}">삭제</a>
  </div>
{% empty %}
  <p class="text-gray-500">댓글이 없습니다.</p>
{% endfor %}
</div>

<hr class="my-4">

<h3 class="text-xl font-bold mb-2">댓글 작성</h3>
<form method="post" class="space-y-4 border-gray-300" action="{% url 'post_detail' post_id=post.id %}">
  {% csrf_token %}
  <div class="form">{{ form.as_p }}</div>
  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded text-decoration-none hover:bg-blue-700">댓글 작성</button>
</form>

<!-- 목록 버튼 -->
<form method="get" class="mt-4" action="{% url 'post_list' mod=post.mod %}">
  <button type="submit" class="bg-gray-500 text-white px-4 py-2 rounded text-decoration-none hover:bg-gray-700">목록</button>
</form>