<script src="https://kit.fontawesome.com/80102fc18f.js" crossorigin="anonymous"></script>

<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto font-medium">

        <button type="button" onclick="location.href='/functions/'" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <i class="fa-solid fa-layer-group w-6 h-6  dark:text-gray-400 group-hover:text-blue-600 {% if request.path == '/functions/' %}text-blue-500{% else %}text-gray-500{% endif %} dark:group-hover:text-blue-500"></i>
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">기능</span>
        </button>
        <button type="button" onclick="location.href='/lecture/'" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <i class="fa-solid fa-calendar-check w-6 h-6  dark:text-gray-400 group-hover:text-blue-600 {% if request.path == '/lecture/' %}text-blue-500{% else %}text-gray-500{% endif %} dark:group-hover:text-blue-500"></i>
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">시간표</span>
        </button>

        <button type="button" onclick="location.href='/'" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <i class="fa-solid fa-house w-6 h-6  dark:text-gray-400 group-hover:text-blue-600 {% if request.path == '/' %}text-blue-500{% else %}text-gray-500{% endif %} dark:group-hover:text-blue-500"></i>
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">홈</span>
        </button>

        <button type="button" onclick="location.href='/posts/0/'" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <i class="fa-solid fa-message w-6 h-6  dark:text-gray-400 group-hover:text-blue-600 {% if request.path|slice:":6" == '/posts' %}text-blue-500{% else %}text-gray-500{% endif %} dark:group-hover:text-blue-500"></i>
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">게시판</span>
        </button>

        <button type="button" onclick="location.href='/setting/'" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <i class="fa-solid fa-gear w-6 h-6  dark:text-gray-400 group-hover:text-blue-600 {% if request.path == '/setting/' %}text-blue-500{% else %}text-gray-500{% endif %} dark:group-hover:text-blue-500"></i>
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">설정</span>
        </button>
    </div>
</div>
