.iphone14-1
{
position:absolute;
background-color:#ffffff;
height:844px;
width:390px;
padding:0px;
}
.frame1
{
background-color:#7784ff;
height:27px;
width:76px;
border-radius:60px;
padding-left:10px;
padding-right:10px;
padding-top:6px;
padding-bottom:6px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
left:16px;
top:16px;
}
.익명게시판
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:10px;
top:6px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:72px;
display:flex;
}
.frame8
{
background-color:#faefef;
height:27px;
width:76px;
border-radius:60px;
padding-left:10px;
padding-right:10px;
padding-top:6px;
padding-bottom:6px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:16px;
left:108px;
}
.자유게시판
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:10px;
top:6px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:56px;
display:flex;
}
.frame7
{
background-color:#ffffff;
height:67.74778747558594px;
width:444px;
border-radius:50px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:45px;
position:absolute;
top:749px;
left:-27px;
}
.frame6
{
height:66.71175384521484px;
width:31.711755752563477px;
align-self:flex-start;
left:49.43px;
top:0.51px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:13px;
}
.🦆icon"gridthreeup"
{
height:31.711755752563477px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:5px;
}
.vector
{
background-color:#7784ff;
height:31.711755752563477px;
width:31.711755752563477px;
width:31.711755752563477px;
height:31.711755752563477px;
}
.기능
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
left:4.35px;
top:49.71px;
width:23px;
height:12px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame5
{
height:66.74778747558594px;
width:35px;
align-self:flex-start;
left:126.14px;
top:0.5px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:13px;
}
.🦆icon"list"
{
height:27.747787475585938px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
left:1.64px;
top:5px;
position:absolute;
}
.vector2
{
background-color:#7784ff;
height:27.747787475585938px;
width:31.711755752563477px;
width:31.711755752563477px;
height:27.747787475585938px;
}
.시간표
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
top:45.74px;
width:35px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame2
{
height:67.74778747558594px;
width:31.711755752563477px;
align-self:flex-start;
left:206.14px;
top:0px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:13px;
}
.🦆icon"home"
{
height:27.747787475585938px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
top:5px;
position:absolute;
}
.vector3
{
background-color:#7784ff;
height:27.747787475585938px;
width:31.711755752563477px;
width:31.711755752563477px;
height:27.747787475585938px;
}
.홈
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
left:9.85px;
top:45.74px;
width:12px;
height:17px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame3
{
height:64.71175384521484px;
width:35px;
align-self:flex-start;
left:282.85px;
top:1.51px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:11px;
}
.🦆icon"commentsquare"
{
height:31.711755752563477px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
left:1.64px;
top:5px;
}
.vector4
{
background-color:#7784ff;
height:31.711755752563477px;
width:31.711755752563477px;
width:31.711755752563477px;
height:31.711755752563477px;
}
.게시판3
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
top:47.71px;
width:35px;
height:12px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame4
{
height:66.71175384521484px;
width:31.711755752563477px;
align-self:flex-start;
left:362.85px;
top:0.51px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:13px;
}
.🦆icon"cog"
{
height:31.711755752563477px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:5px;
}
.vector5
{
background-color:#7784ff;
height:31.711755752563477px;
width:31.711755752563477px;
width:31.711755752563477px;
height:31.711755752563477px;
}
.설정
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
left:4.35px;
top:49.71px;
width:23px;
height:12px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame9
{
background-color:#ffffff;
height:67.74778747558594px;
width:444px;
border-radius:50px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:45px;
position:absolute;
top:749px;
left:-27px;
}
.frame62
{
height:66.71175384521484px;
width:31.711755752563477px;
align-self:flex-start;
left:49.43px;
top:0.51px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:13px;
}
.🦆icon"gridthreeup"2
{
height:31.711755752563477px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:5px;
}
.vector6
{
background-color:#7784ff;
height:31.711755752563477px;
width:31.711755752563477px;
width:31.711755752563477px;
height:31.711755752563477px;
}
.기능2
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
left:4.35px;
top:49.71px;
width:23px;
height:12px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame52
{
height:66.74778747558594px;
width:35px;
align-self:flex-start;
left:126.14px;
top:0.5px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:13px;
}
.🦆icon"list"2
{
height:27.747787475585938px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
left:1.64px;
top:5px;
position:absolute;
}
.vector7
{
background-color:#7784ff;
height:27.747787475585938px;
width:31.711755752563477px;
width:31.711755752563477px;
height:27.747787475585938px;
}
.시간표2
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
top:45.74px;
width:35px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame22
{
height:67.74778747558594px;
width:31.711755752563477px;
align-self:flex-start;
left:206.14px;
top:0px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:13px;
}
.🦆icon"home"2
{
height:27.747787475585938px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
top:5px;
position:absolute;
}
.vector8
{
background-color:#7784ff;
height:27.747787475585938px;
width:31.711755752563477px;
width:31.711755752563477px;
height:27.747787475585938px;
}
.홈2
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
left:9.85px;
top:45.74px;
width:12px;
height:17px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame32
{
height:64.71175384521484px;
width:35px;
align-self:flex-start;
left:282.85px;
top:1.51px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:11px;
}
.🦆icon"commentsquare"2
{
height:31.711755752563477px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
left:1.64px;
top:5px;
}
.vector9
{
background-color:#7784ff;
height:31.711755752563477px;
width:31.711755752563477px;
width:31.711755752563477px;
height:31.711755752563477px;
}
.게시판4
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
top:47.71px;
width:35px;
height:12px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame42
{
height:66.71175384521484px;
width:31.711755752563477px;
align-self:flex-start;
left:362.85px;
top:0.51px;
position:absolute;
padding-top:5px;
padding-bottom:5px;
display:flex;
flex-direction:column;
gap:13px;
}
.🦆icon"cog"2
{
height:31.711755752563477px;
width:31.711755752563477px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:5px;
}
.vector10
{
background-color:#7784ff;
height:31.711755752563477px;
width:31.711755752563477px;
width:31.711755752563477px;
height:31.711755752563477px;
}
.설정2
{
color:#7784ff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
left:4.35px;
top:49.71px;
width:23px;
height:12px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
