<!DOCTYPE html>
<html>
{% load pwa %}
{% load static %}
<head>
    {% progressive_web_app_meta %}
    <title>Sogang Link</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bg-gray-200 flex flex-col items-center  h-screen m-0">

{# include "partials/nav.html" #}
<nav class="flex items-center bg-sogang_blue fixed top-0 left-0 z-50 w-full h-16 dark:border-gray-600 mb-16">
    <li class="cursor-pointer mr-3 pl-4 pr-1 cursor-pointer list-none z-50" onClick="javascript:history.go(-1);">
        <i class="fa-solid fa-circle-arrow-left fa-xl text-white"></i>
    </li>
    <span class="font-bold text-white text-xl justify-center absolute w-full mx-auto text-center">Sogang Link</span>
</nav>


    {% csrf_token %}
    <iframe id="iframe-id" src="https://www.chatpdf.com/share/Kp6HgeTrXOKqrwII8M4Jh?noheaderfooter" style="height:100%;width:100%; margin-top: 1rem; margin-bottom: 4rem; overflow: hidden;">
 </iframe>



{% include "partials/tabbar.html" %}
{% block content %}{% endblock %}
</body>
</html>
